{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


        {{ form_row(form.name) }}

        {{ form_row(form.tags) }}



<button type="submit" class="btn btn-lg btn-success">{{ buttonText }}</button>

{{ form_end(form) }}