{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


        {{ form_row(form.name) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.image) }}

<button type="submit" class="btn btn-lg btn-success">{{ buttonText }}</button>

{{ form_end(form) }}